body {
    background: linear-gradient(to bottom right, rgba(134, 151, 222, 0.79), rgba(255, 255, 255, 0.79));
    background-size: cover;
    height: 100%;
}

.content {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 10px;
    height: 100%
}


#search-results {
    height: 300px;
    width: 500px;
    border: 1px solid;
    overflow: auto;
}