{% extends 'base.html' %}

{% block content %}
<div class="content">


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">C-Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <div class="navbar-nav">
      <ul class="navbar-nav ml-auto">
        <a class="nav-item nav-link" href="#all-investments">Portfolio 
        <a class="nav-item nav-link" href="#search-inv">Search</a>
        <a class="nav-item nav-link" href="#add-inv">Add</a>
        <a class="nav-item nav-link" href="#select-inv">Update</a>
        <a class="nav-item nav-link" href="/logout">Log Out</a>
      </ul>
    </div>
  </div>
  </nav>

  <br>

      <!-- home, display all investments -->          
          <div id='all-investments'>
            <h2>Investment Portfolio</h2><br>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Date</th>
                  <th scope="col">Company</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Cost</th>
                </tr>
              </thead>

                <tbody>
                {% for item in user_inv %}
                  <tr>
                    <th scope="row"> {{ loop.index }}</th>
                    <td>{{ item.inv.date_of_investment }}</td>
                    <td>{{ item.inv.company_name }}</td>
                    <td>{{ item.inv.quantity }}</td>
                    <td>{{ item.inv.cost }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>

          </div>

      <br><br><br>
      

      <!-- search, find investment by date -->
        <h2>Find investment by date</h2><br>

        <div id='search-inv'>
          <form id='search-inv-form'>
            Please select date:<br>
            <input id="date" type="date">
            <input id='search-inv-btn' type='submit' value='submit'>
          </form>
        </div>

        <br><br>
        <div id='search-results'>
          Search results: <br>
        </div>

        <script type=text/javascript src="{{
          url_for('static', filename='search-inv.js') }}"></script>
          <br><br>


      <!-- add investment -->
        <h2>Add investments</h2><br>
      <div id='add-inv'>
        <form id='add-inv-form'>
          Company name: <input type="text" id="company-name"><br>
          Quantity: <input type="text" id="quantity"><br>
          Cost: <input type="text" id="cost"><br>
          Date (YYYY-MM-DD): <input type="text" id="inv-date"><br>
          <input id="add-inv-btn" type="submit" value="submit">
        </form>
      </div>

        <script type=text/javascript src="{{
          url_for('static', filename='add-inv.js') }}"></script>
          <br><br>


      <!-- update -->
        <h2>Update investments</h2><br>
      <div id="select-inv">
      <form action='/update-investment.json' id="select-inv-form"> 
        Company name: 
          <select id="update-inv" name="update-inv">
            {% for item in user_inv %}
                <option value="{{item.inv.inv_id}}">{{ item.inv.company_name }}</option>
            {% endfor %}
          </select>
          <br>
          Quantity: <input type="text" id="quantity" name="quantity"><br>
          Cost: <input type="text" id="cost" name="cost"><br>
          Date (YYYY-MM-DD): <input type="text" id="inv-date" name="inv-date"><br> 
        <input id='select-inv-btn' type='submit' value='update'>
      </form>
      </div>
      <br>
      <br>
      <br>

</div>
{% endblock %}