{% extends 'base.html' %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

{% block content %}


      <!-- home, display all investments -->          
          <div id='all-investments'>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Date</th>
                  <th scope="col">Company</th>
                  <th scope="col">Qunatity</th>
                  <th scope="col">Cost</th>
                </tr>
              </thead>

                <tbody>
                {% for item in user_inv %}
                  <tr>
                    <th scope="row"> {{ loop.index }}</th>
                    <td>{{ item.inv.date_of_investment }}</td>
                    <td>{{ item.inv.company_name }}</td>
                    <td>{{ item.inv.quantity }}</td>
                    <td>{{ item.inv.cost }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>

          </div>

      <br><br><br>
      

      <!-- search, find investment by date -->

        
        <div id='search-inv'>
          <form id='search-inv-form'>
            Please select date:<br>
            <input id="date" type="date">
            <input id='search-inv-btn' type='submit' value='submit'>
          </form>
        </div>

        <br><br>
        <div id='search-results'>
          Search results: <br>

        </div>

        <script type=text/javascript src="{{
          url_for('static', filename='search-inv.js') }}"></script>
          <br><br>


      <!-- add investment -->
        <div id='add-inv'>
          <form id='add-inv-form'>
            Company name: <input type="text" id='company-name'><br>
            Quantity: <input type="text" id='quantity'><br>
            Cost: <input type="text" id='cost'><br>
            Date (YYYY-MM-DD): <input type="text" id="invdate"><br>
            <input id='add-inv-btn' type='submit' value='submit'>
          </form>
        </div>

        <script type=text/javascript src="{{
          url_for('static', filename='add-inv.js') }}"></script>


      <!-- update -->


{% endblock %}